<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Show Happiness Page</h1>

    <div class="container">

      <% for(let i = 0; i < happyPosts.length; i++){ %>
        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-4">

                <div class="card">
                  <img src= "<%=happyPosts[i].image%>" alt="plant image" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title"><%=happyPosts[i].plantName%></h5>
                      <h5 class="card-title"><%=happyPosts[i].nickname%></h5>
                      <p class="card-text"><%=happyPosts[i].tradition%></p>
                    </div>
                </div>
          </div>
    </div>


    <% } %>




















      <!-- ends container -->

    </div>





      </body>
    </html>


  </body>
</html>
